---
import type { i18nTranslations } from "@/../types/types";
import ButtonCustomized from "./ButtonCustomized.astro";
import { getEntry } from "astro:content";
const { currentLocale } = Astro;

// Datos de traducción
const data: i18nTranslations = Astro.props.data;

// Obtener CV desde R2
const R2_URL = import.meta.env.PUBLIC_R2_PUBLIC_URL;
const cvId = currentLocale === "en" ? "current-en" : "current-es";
const cv = await getEntry("cv", cvId);
if (!cv) throw new Error(`CV entry not found for locale: ${currentLocale}`);
---

<div class="flex h-auto w-full flex-col items-center justify-center text-black-50 light:bg-whitePal mb-40">
  <h1 class="text-2xl font-bold mb-3">
    {data.history.title}
  </h1>
  {
    data.history.jobs.map((job) => (
      <div class="flex flex-col w-full max-w-xl rounded-xl bg-opacity-10 bg-center transform bg-contain bg-no-repeat py-5 text-blackPal dark:text-whitePal ">
        <h2 class="text-2xl font-bold text-purplePal">{job.title}</h2>
        <h3 class="font-bold text-purplePal">{job.company}</h3>
        <p class="text-pretty pt-3">{job.date}</p>
        <p class="text-pretty pt-3">{job.description}</p>
      </div>
    ))
  }
  <br />
  <a href={R2_URL + cv.data.pdfUrl}>
    <ButtonCustomized customStyle="px-10">Ver currículum completo</ButtonCustomized>
  </a>
</div>
