---
import type { i18nTranslations, ProjectKey } from "@/../types/types";
const data: i18nTranslations = Astro.props.data;
---

<h1 class="pt-12 text-2xl font-bold" id="projects">
  {data.projects.title}
</h1>

<div class="flex h-auto w-full flex-col items-center justify-between pt-5 md:w-3/4 lg:w-1/2 xl:w-2/4 mb-20">
  {
    // Recorremos los proyectos obtenidos de las tarducciones de i18n y los mostramos
    Object.keys(data.projects).map((key) => {
      const projectKey = key as ProjectKey;

      if (key === "title") return;

      const { name, description } = data.projects[projectKey];
      return (
        <>
          <div
            style={`background-image: url(/img/${key}.webp)`}
            class={`h-72 w-full max-w-xl rounded-xl bg-opacity-10 bg-center transform transition-all duration-300 hover:scale-105 bg-contain bg-no-repeat m-10`}
          >
            <a
              class="h-full w-full"
              href={`https://github.com/karlosvas/${key}`}
              target="_blank"
              aria-label={`Ir a proyecto de ${name}`}
            >
              <div class="flex flex-col w-full h-full justify-end bg-gradient-to-t from-black p-5 text-slate-200">
                <h2 class="font-bold">{name}</h2>
                <p>{description}</p>
              </div>
            </a>
          </div>
        </>
      );
    })
  }
</div>
