---
import CardProyect from '../components/CardProyect.astro';
const { data } = Astro.props;
---

<h1 class="pt-12 text-2xl font-bold">
   {data.proyects.title}
</h1>
<div
   class="grid h-auto w-full grid-cols-1 items-center justify-between gap-5 pt-5 sm:w-3/4 sm:grid-cols-2 md:w-2/3 md:grid-cols-3 lg:w-1/2 xl:w-2/4 ">
   <CardProyect data={data} urlProyect="https://robo-tec.vercel.app/" nameProyect="robotech"/>
   <CardProyect data={data} urlProyect="https://waynebooks.vercel.app/" nameProyect="waynebooks"/>
   <CardProyect data={data} urlProyect="https://github.com/karlosvas/vintweet.git" nameProyect="vintweet" />
   <CardProyect data={data} urlProyect="https://github.com/karlosvas/olimpiadas-informaticas.git" nameProyect="olimpiadas"/>
   <CardProyect data={data} urlProyect="https://github.com/karlosvas/advent-js.git" nameProyect="adventjs"/>
   <CardProyect data={data} urlProyect="https://github.com/karlosvas/chat-with-pdf" nameProyect="chatwhitpdf"/>
</div>